@import url('https://fonts.googleapis.com/css2?family=Kumar+One&family=Libre+Barcode+39+Text&family=Nova+Square&display=swap');

body
{
    background-color: rgb(26, 26, 26);
    margin: 0;
}

#page-container
{
    width: 50%;
    background-color: rgb(14, 14, 14);
    padding-left: 2px;
    padding-right: 2px;
}

#header-container
{
    position: relative;
    height: 300px;
    background-image: url(./res/20190525_233204.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#header-profile
{
    position: absolute;
    bottom: 15px;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 60%;

    display: flex;
}

#header-profile-img
{
    position: relative;
    height: 132px;
    top: 15px;

    padding: 4px;

    border: 4px solid salmon;

    background-color: black;
}

#header-title
{
    margin-left: 15px;
}

#header-title-name
{
    position: relative;
    width: min-content * 2;
    top: 60px;

    padding: 4px;
    
    border: 4px solid salmon;

    background-color: black;

    font-family: 'Libre Barcode 39 Text', cursive;
    font-weight: normal;
    font-size: 35pt;
    color: white;
    text-shadow: 2px 2px black;

    text-align: left;
}

#navbar-container
{
    width: 96%;
    height: 50px;

    margin-top: 20px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;

    background-color: salmon;
}

#navbar-content
{
    display: flex;

    padding-right: 10px;
    padding-left: 10px;
    margin-left: 50px;
    background-color: rgb(26, 26, 26);
}

.navbar-item
{
    position: relative;
    bottom: 5px;

    padding-left: 10px;
    padding-right: 10px;
    margin-left: 15px;
    margin-right: 15px;

    font-family: 'Kumar One', cursive;
    font-weight: normal;
    color: white;
    
}

#navbar-socials
{
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
    background-color: rgb(26, 26, 26);
}

.socials
{
    position: relative;
    top: 8px;

    margin-left: 10px;
    margin-right: 10px;

    height: 35px;
}

#blog-container
{
    min-height: 400px;
    padding-bottom: 50px;

    background-color: whitesmoke;
}

#blog-title
{
    position: relative;
    width: 92%;
    text-align: left;

    padding: 10px;
    padding-top: 20px;
    padding-left: 4%;

    border-bottom: 2px solid rgb(0, 0, 0);

    font-family: 'Kumar One', cursive;
    font-weight: bold;

    text-shadow: 3px 3px rgb(23, 218, 127);
}

#blog-root
{
    width: 100%;
    height: max-content;
}

.post-block
{
    width: 90%;
    min-height: 150px;

    margin-bottom: 40px;

    border: 1px solid rgb(43, 43, 43);

    background-color: rgb(238, 238, 238);
    box-shadow: 8px 8px rgb(43, 43, 43);
}

.post-header
{


    height: 70px;

    background-color: rgb(43, 43, 43);
}

.post-title
{
    position: relative;
    top: 12px;

    text-align: left;

    padding: 0;
    margin: 0;
    margin-left: 20px;

    font-family: 'Kumar One', cursive;
    font-weight: normal;
    color: white;
}

.post-content
{
    padding: 15px;
    padding-right: 25px;
    margin-left: 10px;
    text-align: left;

    font-family: 'Nova Square', cursive;
    font-size: large;
    font-weight: normal;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}